<?php require_once 'header.phtml'; ?>
	<p>Aš esu Tomas Čerkauskas. Kažkada pradėjau programint, ir programiniu iki šiol.</p>
	<p>Dievinu kebabus.</p>
	<p>Dievinu naujas technologijas.</p>
	<p>Dievinu savo mergikę.</p>
<?php require_once 'footer.phtml'; ?>