<?php require_once 'header.phtml'; ?>

<ul>
	<li>
		E-mail: <a href="mailto:tomas@cerkauskas.lt">tomas@cerkauskas.lt</a>
	</li>
	<li>
		Webpage: <a href="http://tomas.cerkauskas.lt">tomas.cerkauskas.lt</a>
	</li>
</ul>

<?php require_once 'footer.phtml'; ?>