<?php require_once 'header.phtml'; ?>

<div class="row">
	<table class="table">
		<tr>
			<td>Vardas</td>
			<td>Tomas</td>
		</tr>
		<tr>
			<td>Pavardė</td>
			<td>Čerkauskas</td>
		</tr>
		<tr>
			<td>Gimimo data</td>
			<td>1995.03.25</td>
		</tr>
		<tr>
			
		</tr>
	</table>
</div>

<?php require_once 'footer.phtml'; ?>