
<section>
	<h3>Task info</h3>
	<form action="index.php?op=new-task" method="post">
		<div>
			<label for="title">Title</label>
			<input type="text" id="title" name="title">
		</div>
		<div>
			<label for="text">Text</label>
			<textarea name="text" id="text" cols="30" rows="10"></textarea>
		</div>
		<div>
			<label for="deadline">Deadline</label>
			<select name="day">
				<?php for ($i = 1; $i <= 31; $i++): ?>
					<option value="<?php echo $i; ?>">
						<?php if ($i < 10): ?>
							0<?php echo $i; ?>
						<?php else: ?>
							<?php echo $i; ?>
						<?php endif; ?>
					</option>
				<?php endfor; ?>
			</select>
			/
			<select name="month">
				<?php for ($i = 1; $i <= 12; $i++): ?>
					<option value="<?php echo $i; ?>">
						<?php echo date("F", mktime(0, 0, 0, $i, 1, 2011)); ?>
					</option>
				<?php endfor; ?>
			</select>
			/
			<select name="year">
				<?php for ($i = (int) date('Y'), $max = $i + 5; $i <= $max; $i ++): ?>
					<option value="<?php echo $i; ?>">
						<?php echo $i; ?>
					</option>
				<?php endfor; ?>
			</select>
		</div>
		<div>
			<label for="priority">Priority</label>
			<label for="priority_low">
				<input type="radio" id="priority_low" name="priority" value="low"> Low
			</label>
			<label for="priority_normal">
				<input type="radio" id="priority_normal" name="priority" value="normal" checked> Normal
			</label>
			<label for="priority_high">
				<input type="radio" id="priority_high" name="priority" value="high"> High
			</label>
		</div>
		<input type="submit" value="submit">
	</form>
</section>