<!DOCTYPE html>
<html lang="en">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>ToDo list</title>
<style>
    body {
        margin: 1em auto;
        max-width: 40em;
        padding: 0 .62em;
        font: 1.2em/1.62em sans-serif;
    }

    h1, h2, h3 {
        line-height: 1.2em;
    }

    @media print {
        body {
            max-width: none
        }
    }

    li.task-done > a {
        text-decoration: line-through
    }
    
    li.urgent {
        background-color: red;
    }
    
    li.urgent > a {
        color: white;
    }
</style>
<article>