	<?php foreach ($tasks as $id => $task): ?>
        <?php
        $classes = [];
        
		if ($task['status'] == 'done') {
		    $classes[] = 'task-done';
        }
        
        if (mktime(0, 0, 0, $task['deadline']['day'], $task['deadline']['month'], $task['deadline']['year']) < time()) {
		    $classes[] = 'urgent';
        }
		?>
		<li class="<?php echo implode(' ', $classes); ?>">
            <a href="index.php?op=task&amp;id=<?php echo $id; ?>"><?php echo $task['title']; ?></a>
        </li>
	<?php endforeach; ?>
</ul>