<section>
    <p><a href="index.php">Back to task list</a></p>
</section>
<section>
	<h1><?php echo htmlspecialchars($task['title']); ?></h1>
	<p><?php echo htmlspecialchars($task['text']); ?></p>
	<p>Priority: <?php echo strtoupper($task['priority']); ?></p>
	<p>Deadline: <?php echo $task['deadline']['year']; ?>-<?php echo $task['deadline']['month']; ?>-<?php echo $task['deadline']['day']; ?></p>
    <ul>
        <?php if ($task['status'] != 'done'): ?>
            <li><a href="?op=done-task&amp;id=<?php echo $id; ?>">Mark as done</a></li>
        <?php endif; ?>
        <li>
            <a href="?op=delete-task&amp;id=<?php echo $id; ?>">Delete</a>
        </li>
    </ul>
</section>