<hr>
<table style="margin: 0 auto">
	<caption>Words, that translator understands</caption>
	<thead>
		<tr>
			<td>Lithuanian</td>
			<td>English</td>
		</tr>
	</thead>
	<tbody>
		<?php foreach ($dictionary as $lithuanian => $english): ?>
			<tr>
				<td><?php echo $lithuanian; ?></td>
				<td><?php echo $english; ?></td>
			</tr>
		<?php endforeach; ?>
	</tbody>
</table>