<div style="margin: 0 auto; text-align: center;">
	<h1>English-Lithuanian translator</h1>
	<form action="index.php" method="post">
		<table style="margin: 0 auto">
			<tr>
				<td>Word</td>
				<td><input type="text" name="word"></td>
			</tr>
			<tr>
				<td>Type</td>
				<td>
					<select name="type">
						<option value="en-lt">English-Lithuanian</option>
						<option value="lt-en">Lithuanian-English</option>
					</select>
				</td>
			</tr>
			<tr>
				<td colspan="2">
					<input type="submit" value="Translate" name="submit">
				</td>
			</tr>
		</table>
	</form>
</div>