<div style="text-align: center; margin: 0 auto;">
	<?php if ($type == 'lt-en'): ?>
		<b><?php echo $word; ?></b> in English is <b><?php echo $translation; ?></b>
	<?php else: ?>
		<b><?php echo $word; ?></b> in Lithuanian is <b><?php echo $translation; ?></b>
	<?php endif; ?>
</div>